.comment {
  padding-bottom: 12px;
  display: flex;
  width: 100%;
}

.comment:first-of-type {
  padding-top: 10px;
}

.comment:last-child {
  border-bottom: none;
}

.text-container {
  flex-grow: 1;
}

.comment-header {
  display: flex;
  margin-bottom: 4px;
  font-size: 11px;
  align-items: center;
}

.comment-header > * {
  margin-bottom: 0 !important;
}

.comment-author {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}

.comment-date {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  color: #999999;
  position: relative;
}

.comment-content {
  margin-top: 5px;
  width: 100%;
}

#comment-heading {
  margin-top: 14px;
}

#hit-counter {
  margin-top: 14px;
}
