@font-face {
  font-family: "GT America Extended";
  src: local("GT-America-Extended-Black-Trial"),
    url("../fonts/GT-America-Extended-Black-Trial.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "GT America Extended";
  src: local("GT-America-Extended-Ultra-Light"),
    url("../fonts/GT-America-Expanded-Ultra-Light-Trial.otf") format("opentype");
  font-weight: 100;
}

.comment {
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  width: 100%;
}

.oblique {
  min-width: 2px;
  height: 80px;
  background: #000;
  transform: skew(-20deg);
  margin-right: 20px;
}

.text-container {
  flex-grow: 1;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment-author {
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 900;
  font-size: 0.8em;
}

.comment-date {
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 100;
  font-size: 0.8em;
}

.comment-content {
  margin-top: 5px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  #links a {
    font-size: 40px;
    margin-left: 30px;
  }
}
