@font-face {
  font-family: "GT America Extended";
  src: local("GT-America-Extended-Black-Trial"),
    url("../fonts/GT-America-Extended-Black-Trial.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Financier Display";
  src: local("TestFinancierDisplay-Light"),
    url("../fonts/TestFinancierDisplay-Lightotf") format("opentype");
  font-weight: 100;
}

#title-buttons {
  margin-top: 3em;
  margin-left: 1em;
  position: fixed;
}

.title {
  text-decoration: none;
  color: #0f0f0f;
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 900;
  font-size: 3em;
}

#buttons {
  display: flex;
  gap: 12px;
}

.button {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-color: #0f0f0f;
  background: none;
}

#nightModeButton {
  border-radius: 25px;
}

#links {
  display: grid;
  border-left: solid 4px;
  position: relative;
  top: 200px;
  left: 100px;
  grid-template-columns: 1fr;
  width: 45%;
  margin: 0 auto;
}

#links a {
  font-family: "Financier Display", serif;
  font-size: 70px;
  font-weight: 100;
  color: #0f0f0f;
  text-decoration: none;
  margin-left: 100px;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 800px) {
  #links {
    left: 10%;
    margin: 0;
  }

  #links a {
    font-size: 50px;
    margin-left: 10px;
  }
}
