@font-face {
  font-family: "GT America Extended";
  src: local("GT-America-Extended-Black-Trial"),
    url("../fonts/GT-America-Extended-Black-Trial.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Firs Neue";
  src: url("../fonts/TT Firs Neue Trial Light.ttf") format("truetype");
  font-weight: 300;
}

body {
  margin: 0;
  background-image: url("../images/malevich.png");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: 15% 50%;
  min-height: 100vh;
}

#title-buttons {
  margin-top: 3em;
  margin-left: 1em;
  position: fixed;
}

.title {
  text-decoration: none;
  color: #0f0f0f;
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 900;
  font-size: 3em;
}

#buttons {
  display: flex;
  gap: 12px;
}

.button {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-color: #0f0f0f;
  background: none;
}

#nightModeButton {
  border-radius: 25px;
}

#links {
  display: grid;
  border-left: solid 5px;
  position: relative;
  top: 200px;
  left: 100px;
  grid-template-columns: 1fr;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 80px;
  transform: translateX(10%) skew(-20deg);
}

#links a {
  font-family: "Firs Neue", sans-serif;
  font-size: 54px;
  line-height: 1.2;
  font-weight: 300;
  color: #0f0f0f;
  text-decoration: none;
  margin-left: 80px;
  transform: skew(20deg);
  text-shadow: 0px -1px 0 #fafafa;
}

#links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1280px) {
  body {
    background-size: 40%;
    background-position: 0% 30%;
    min-height: 100vh;
  }

  #links {
    top: 200px;
    left: 20%;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-size: 50%;
    background-position: -30% 30%;
    min-height: 100vh;
  }

  #links {
    top: 175px;
    left: 15%;
    margin: 0;
  }

  #links a {
    font-size: 30px;
    margin-left: 30px;
  }
}

#news-link {
  text-decoration: none;
}

.news {
  display: flex;
  justify-content: center;
  border: 1px solid #0f0f0f;
  background: #0f0f0f;
  color: #fafafa;
  overflow: hidden;
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-size: 12px;
}

.news p {
  margin: 0;
}
