body {
  margin: 0;
  min-height: 100vh;
  overflow-y: auto;
  background-color: var(--light-color);
}

#title-buttons {
  display: flex;
  padding: 0.5em;
  width: 100%;
  min-height: 32px;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 1;
  background-color: light-dark(var(--light-color), var(--dark-color));
}

.title {
  text-decoration: none;
  color: var(--dark-color);
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 900;
  align-content: center;
}

.link-container {
  display: flex;
}

#links {
  display: grid;
  flex-direction: column;
  box-sizing: border-box;
  width: 40%;
  position: relative;
  top: 100px;
  margin: 0 auto;
  aspect-ratio: 1;
}

#links {
  grid-template-rows:
    [row1-start] 12.5%
    [row2-start] 12.5%
    [row3-start] 12.5%
    [row4-start] 12.5%
    [row5-start] 12.5%
    [row6-start] 12.5%
    [row7-start] 12.5%
    [row8-end];

  grid-template-columns:
    [col1-start] 12.5%
    [col2-start] 12.5%
    [col3-start] 12.5%
    [col4-start] 12.5%
    [col5-start] 12.5%
    [col6-start] 12.5%
    [col7-start] 12.5%
    [col8-start] 12.5%
    [col8-end];
}

#links a[href="structures.html"] {
  grid-row: row1-start;
  grid-column: col1-start / span 5;
}

#links a[href="reviews.html"] {
  grid-row: row2-start;
  grid-column: col3-start / span 3;
}

#links a[href="industry.html"] {
  grid-row: row3-start;
  grid-column: col5-start / span 4;
}

#links a[href="light.html"] {
  grid-row: row4-start;
  grid-column: col7-start / span 2;
}

#links a[href="nature.html"] {
  grid-row: row5-start;
  grid-column: col5-start / span 3;
}

#links a[href="noise.html"] {
  grid-row: row6-start;
  grid-column: col5-start / span 3;
}

#links a[href="constellations.html"] {
  grid-row: row7-start;
  grid-column: col1-start / span 5;
}

#links a[href="guestbook.html"] {
  grid-row: row8-start;
  grid-column: col3-start / span 5;
}

#black-square {
  background-color: var(--dark-color);
  grid-row: row4-start / span 2;
  grid-column: col2-start / span 2;
  outline: 8px solid var(--dark-color);
  outline-offset: 40px;
}

#links a {
  font-family: "Neue Haas Grotesk", sans-serif;
  font-size: 4em;
  line-height: 1;
  font-weight: 300;
  color: var(--dark-color);
  margin: 0;
  text-decoration: none;
  align-content: end;
}

#links a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  #links {
    width: 50%;
  }

  #links a {
    font-size: 4em;
  }

  #black-square {
    outline: 4px solid var(--dark-color);
  }
}

@media screen and (max-width: 800px) {
  #links {
    width: 90%;
    top: 100px;
  }

  #links a {
    font-size: 2.5em;
  }

  #black-square {
    outline: 4px solid var(--dark-color);
    outline-offset: 20px;
  }
}

#news-link {
  text-decoration: none;
}

.news {
  display: flex;
  justify-content: center;
  padding: 1px 11px;
  margin-left: 12px;

  background: var(--dark-color);
  color: var(--light-color);

  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-size: 0.8em;
  font-weight: 900;
}

.news p {
  margin: 0;
}

.jagged {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 7%, 80% 10%);
}
