body {
  margin: 0;
  min-height: 100vh;
  overflow-y: auto;
  background-color: var(--light-color);
  background-color: #c8251d;
}

#title-buttons {
  display: flex;
  padding: 0.5em;
  width: 100%;
  min-height: 32px;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 1;
  background-color: light-dark(var(--light-color), var(--dark-color));
  background-color: #c8251d;
}

.title {
  text-decoration: none;
  color: var(--dark-color);
  font-family:
    "GT America Extended",
    Helvetica Neue,
    sans-serif;
  font-weight: 900;
  align-content: center;
}

#links {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 360px;
  max-height: 720px;
  position: relative;
  top: 100px;
  margin: 0 auto;
}

#links a {
  font-family: "Neue Haas Grotesk", sans-serif;
  letter-spacing: -1px;
  font-size: 96px;
  line-height: 0.8;
  font-weight: 500;
  color: var(--dark-color);
  margin: 0;
  width: fit-content;
  text-decoration: none;
  align-content: end;
}

#struc:hover,
#tures:hover,
#reviews:hover,
#noise:hover,
#constel:hover,
#lations:hover {
  background-color: #ffa4a4;
}
#struc:hover + #tures {
  background-color: #ffa4a4;
}
#struc:has(+ #tures:hover) {
  background-color: #ffa4a4;
}
#constel:hover + #lations {
  background-color: #ffa4a4;
}
#constel:has(+ #lations:hover) {
  background-color: #ffa4a4;
}

#tures,
#lations,
#noise {
  position: relative;
  left: 25%;
  width: 50%;
}

#small-links {
  width: 25%;
}

#small-links a {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  letter-spacing: 0;
}

#last-row {
  display: flex;
  align-items: flex-end;
  height: 60px;
}

#square-container {
  width: 50%;
  justify-content: end;
  display: flex;
}

#black-square {
  background-color: var(--dark-color);
  outline: 4px solid var(--dark-color);
  outline-offset: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  position: relative;
  right: 14px;
  bottom: 14px;
}

#links a:hover {
  text-decoration: none;
}

#small-links a:hover {
  background-color: #ffa4a4;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 800px) {
  #links {
    top: 100px;
    max-width: 300px;
    max-height: 600px;
  }

  #links a {
    font-size: 82px;
  }

  #small-links a {
    font-size: 16px !important;
  }
}
