body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--light-color);
}

#title-buttons {
  display: flex;
  margin-top: 1em;
  width: 100%;
  min-height: 32px;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 1;
}

.title {
  text-decoration: none;
  color: var(--dark-color);
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 900;
  align-content: center;
}

.link-container {
  display: flex;
}

#links {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;
  position: relative;
  top: 200px;
  margin: 0 auto;
  border-left: solid var(--dark-color) 12px;
  padding-left: 24px;
}

#links a,
#links p {
  font-family: "Firs Neue", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 300;
  color: var(--dark-color);
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  color: blue;
}

#links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1280px) {
  #links {
    top: 200px;
  }
}

@media screen and (max-width: 800px) {
  #links {
    top: 175px;
  }
}

#news-link {
  text-decoration: none;
}

.news {
  display: flex;
  justify-content: center;
  padding: 1px 11px;
  margin-left: 12px;

  background: var(--dark-color);
  color: var(--light-color);

  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-size: 0.8em;
  font-weight: 900;
}

.news p {
  margin: 0;
}

.w-32 {
  width: 32px;
}

.w-48 {
  width: 48px;
}

.w-64 {
  width: 64px;
}

.w-80 {
  width: 80px;
}

.w-96 {
  width: 96px;
}

.w-128 {
  width: 128px;
}

.full-container {
  height: 16px;
  background: var(--dark-color);
}

.empty-container {
  height: 16px;
}

.half-height {
  height: 8px;
}

#full-1-1 {
  width: 96px;
}

#full-1-2 {
  width: 8px;
  margin-left: 60px;
}

#full-2-1 {
  width: 28px;
}

#full-2-2 {
  width: 8px;
  margin-left: 0px;
}

#full-3-1 {
  width: 64px;
}

#full-3-2 {
  width: 28px;
}

#full-4-1 {
  width: 24px;
  margin-left: 96px;
}

#full-4-2 {
  width: 8px;
  margin-left: 36px;
}

#full-5-1,
#full-6-1 {
  width: 40px;
}

#full-5-2,
#full-6-2 {
  width: 8px;
  margin-left: 36px;
}

#full-6-0 {
  margin-right: 16px;
}

#full-7-1 {
  width: 84px;
  margin-left: 80px;
}

#full-8-1 {
  margin-left: 32px;
}

#full-8-2 {
  width: 52px;
}

#full-9-1 {
  width: 16px;
}

#full-9-2 {
  width: 24px;
  margin-left: 60px;
}

#full-10-1 {
  height: 24px;
  width: 16px;
  margin-right: 48px;
}

#full-10-2 {
  height: 24px;
  width: 12px;
  margin-left: 8px;
}

#full-11-1 {
  height: 8px;
  width: 36px;
}

#link-guestbook {
  position: relative;
  top: -8px;
}

#full-11-2 {
  height: 8px;
  width: 12px;
  margin-left: 20px;
}

#negative-margin-container {
  margin-top: -8px;
}

#full-12-1 {
  width: 36px;
  margin-right: 16px;
}

#full-12-2 {
  width: 12px;
  margin-left: 4px;
}

#full-13-1 {
  margin-left: 28px;
  width: 64px;
}

#full-13-2 {
  width: 20px;
  margin-left: -12px;
}

#full-14-1 {
  width: 48px;
  margin-left: -4px;
}

#full-14-2 {
  width: 20px;
  margin-left: 68px;
}

#full-15-1 {
  width: 20px;
}

#full-15-2 {
  width: 48px;
  margin-left: 96px;
}

#full-16-1 {
  width: 12px;
}

#full-16-2 {
  width: 64px;
  margin-left: 88px;
}

#full-17-1 {
  width: 12px;
}

#full-17-2 {
  width: 104px;
  margin-left: 48px;
}
