@media screen and (max-width: 1280px) {
  #grid,
  .text-grid,
  .article {
    width: 70%;
  }
  .constellations-grid {
    width: 90%;
  }
  .constellations-grid h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 800px) {
  #grid,
  .text-grid,
  .article {
    width: 80%;
    max-width: none;
    padding: 60px 0;
  }

  .film-review p {
    font-size: 15px;
  }

  .article p,
  .article li,
  .article .text-list li {
    font-size: 16px;
  }

  footer li {
    font-size: 14px !important;
  }

  .constellations-grid {
    width: 80%;
    max-width: none;
    padding: 60px 0;

    grid-template-columns:
      [col1-start] 10%
      [col2-start] 90%
      [col2-end];
    gap: 0;
  }

  .constellations-grid h1 {
    font-size: 1em;
    writing-mode: vertical-rl;
    text-align: end;
    display: inline-block;
    transform: rotate(180deg);
    margin-top: 0.25em;
    margin-bottom: 2em;
  }

  .constellations-grid p {
    margin-bottom: 2em;
  }

  .item-container,
  .new-item-container {
    margin-bottom: 1em;
  }

  .new-item-text,
  .description {
    font-size: 0.8em;
  }

  .quote-text {
    width: 90%;
  }

  .film-review {
    margin-bottom: 32px;
  }

  q {
    margin-left: 16px;
  }
}
