@media screen and (max-width: 1280px) {
  #grid,
  .text-grid {
    width: 70%;
  }
  .canon-grid {
    width: 90%;
  }
  .canon-grid h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1150px) {
  #index {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #grid,
  .text-grid {
    width: 80%;
    max-width: none;
    padding: 60px 0;
  }

  .canon-grid {
    width: 80%;
    max-width: none;
    padding: 60px 0;

    grid-template-columns: 1fr;
    gap: 0;
  }
  .canon-grid h1 {
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: 0.25em;
  }

  .item-container,
  .new-item-container {
    margin-bottom: 1em;
  }

  .new-item-text,
  .description {
    font-size: 1.2em;
  }
}
