@media screen and (max-width: 1280px) {
  #grid,
  .text-grid {
    width: 70%;
  }
  .canon-grid {
    width: 90%;
  }
  .canon-grid h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1150px) {
  #index {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #grid,
  .text-grid {
    width: 80%;
    max-width: none;
    padding: 60px 0;
  }

  .canon-grid {
    width: 80%;
    max-width: none;
    padding: 60px 0;

    grid-template-columns:
      [col1-start] 10%
      [col2-start] 90%
      [col2-end];
    gap: 0;
  }

  .canon-grid h1 {
    font-size: 1em;
    writing-mode: sideways-lr;
    text-align: end;
    margin-top: 0.25em;
    margin-bottom: 2em;
  }

  .canon-grid p {
    margin-bottom: 2em;
  }

  .item-container,
  .new-item-container {
    margin-bottom: 1em;
  }

  .new-item-text,
  .description {
    font-size: 1.2em;
  }
}
