#index-popup h1 {
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.index-popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.index-popup {
  background-color: var(--light-color);
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
  width: 300px;
}

#popup-index {
  max-height: 60vh;
  overflow-y: auto;
}

#popup-index p {
  font-family: "Firs Neue", sans-serif;
  font-size: 0.8em;
  margin: 0;
  margin-bottom: 4px;
  user-select: none;
}

#popup-index p a {
  color: var(--dark-color);
  text-decoration: none;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#popup-index p:hover {
  text-decoration: underline;
}

#shuffle-button,
#index-button {
  width: 24px;
  border: 1px solid black;
  padding: 0 6px;
  cursor: pointer;
}
