@font-face {
  font-family: "GT America Extended";
  src: local("GT-America-Extended-Black-Trial"),
    url("../fonts/GT-America-Extended-Black-Trial.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "GT America Extended";
  src: local("GT-America-Extended-Ultra-Light"),
    url("../fonts/GT-America-Expanded-Ultra-Light-Trial.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Financier Text";
  src: local("TestFinancierText-Regular"),
    url("../fonts/TestFinancierText-Regular.otf") format("opentype");
  font-weight: 300;
}

body {
  display: flex;
}

#title-buttons {
  margin-top: 3em;
  margin-left: 1em;
  position: fixed;
}

.title {
  text-decoration: none;
  color: #0f0f0f;
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 900;
  font-size: 3em;
}

#buttons {
  display: flex;
  gap: 12px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 100;
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-color: #0f0f0f;
  background: none;
}

#nightModeButton {
  border-radius: 25px;
}

#columnsButton {
  color: #0f0f0f;
}

#grid {
  padding-top: 80px;
  width: 45%;
  margin: 0 auto;
}

#inspo-grid {
  padding-top: 120px;
  padding-bottom: 80px;
  width: 45%;
  margin: 0 auto;
  font-family: "Financier Text", serif;
  font-size: 20px;
}

#inspo-grid h1 {
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 100;
  font-size: 36px;
  margin-bottom: 8px;
}

.item {
  width: 100%;
  margin: auto;
  padding-bottom: 2em;
}

.inspo-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
