body {
  display: flex;
}

#title-buttons {
  margin-top: 3em;
  margin-left: 1em;
  position: fixed;
}

.title {
  text-decoration: none;
  color: #0f0f0f;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-size: 3em;
}

#buttons {
  display: flex;
  gap: 12px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-family: Helvetica Neue;
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-color: #0f0f0f;
  background: none;
}

#nightModeButton {
  border-radius: 25px;
}

#columnsButton {
  color: #0f0f0f;
}

#grid {
  padding-top: 80px;
  width: 45%;
  margin: 0 auto;
}

.item {
  width: 100%;
  margin: auto;
  padding-bottom: 2em;
}
