:root {
  color-scheme: light dark;
}

#constellations,
#changelog,
#guestbook,
#reviews,
#about {
  color-scheme: light;
}

#stills {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;

  background-color: light-dark(var(--light-color), var(--dark-color));
  color: light-dark(var(--dark-color), var(--light-color));
}

#title-buttons {
  display: flex;
  padding: 0.5em;
  width: 100%;
  min-height: 32px;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 30;
  background-color: light-dark(var(--light-color), var(--dark-color));
}

.title {
  text-decoration: none;
  color: light-dark(var(--dark-color), var(--light-color));
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 900;
  align-content: center;
}

#stills-container {
  width: 100%;
}

#stills-container img {
  height: 100vh;
  padding: 50px 0;
  object-fit: contain;
}

#stills-container img:first-child {
  padding: 0;
}

#buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  min-height: 32px;
  margin-left: 12px;
}

#buttons p {
  color: light-dark(var(--dark-color), var(--light-color));
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 900;
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  user-select: none;
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border: 1px solid;

  border-color: light-dark(var(--dark-color), var(--light-color));
  color: light-dark(var(--dark-color), var(--light-color));
  background: none;
}

#nightModeButton {
  border-radius: 25px;
}

#grid {
  display: flex;
  gap: 20px;
  padding: 80px 0;
  width: 45%;
  margin: 0 auto;
}

.grid-column {
  flex: 1;
}

.text-grid {
  padding-top: 140px;
  padding-bottom: 40px;
  width: 45%;
  max-width: 600px;
  margin: 0 auto;
}

.text-grid p,
.text-grid li {
  font-family: "Firs Neue", sans-serif;
  font-size: 1em;
  margin: 0;
  margin-bottom: 4px;
}

.text-grid h1 {
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.text-grid ul {
  margin: 0;
}

.text-grid a {
  color: var(--dark-color);
}

.constellations-grid {
  padding-top: 140px;
  padding-bottom: 40px;
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
  gap: 20px 0;
}

.constellations-grid h1 {
  font-family: "GT America Extended", Helvetica Neue, sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0;
}

.constellations-grid p {
  font-family: "Firs Neue", sans-serif;
  font-size: 1em;
  margin: 0;
  margin-bottom: 4px;
}

.wide-item {
  grid-column: span 2;
}

.constellations-grid p span:not(:last-child)::after {
  content: " •";
}

.constellations-grid {
  display: grid;
  grid-template-columns:
    [col1-start] 40%
    [col2-start] 60%
    [col2-end];
}

.item {
  width: 100%;
  margin: auto;
}

.new-item-container,
.item-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.new-item-text {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin: 0;
  background: var(--dark-color);
  padding: 2px 6px;
  font-family: "GT America Extended";
  font-weight: 300;
  font-size: 1em;
  color: var(--light-color);
  cursor: pointer;
  user-select: none;
}

.description {
  display: grid;
  align-self: flex-end;
  margin: 0;
  font-family: "Firs Neue", sans-serif;
  color: var(--light-color);
  font-size: 0.8em;
  user-select: none;
  overflow: none;
  overflow-wrap: break-word;
  hyphens: auto;
  width: 100%;
}

.description span:last-child {
  margin-bottom: -2px;
}

.description-container {
  position: absolute;
  display: flex;
  background: #0f0f0f99;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.info-button {
  position: absolute;
  z-index: 20;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 8px;
  border-radius: 50%;
  border: 1px solid var(--light-color);
  bottom: 0%;
  right: 0;
  backdrop-filter: blur(10px);
}

.film-details {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.film-details p {
  font-size: 0.7em;
}

.bullet-spacer {
  margin-right: 4px !important;
  margin-left: 4px !important;
}

.rating {
  padding-bottom: 2px;
}

.film-review {
  margin-bottom: 48px;
}

.film-review p {
  margin-bottom: 8px;
}

.quote-text {
  display: none;
  width: 80%;
  align-self: center;
  text-align: center;
  font-family: "GT America Extended";
  font-size: 2em;
  font-weight: 900;
  line-height: 0.8;
  text-transform: uppercase;
}

.quote-text {
  opacity: 0;
}

.visible {
  opacity: 1;
}
